@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');


html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.container {
    min-width: 100%;
    height: 100vh;
    text-align: center;
    background: radial-gradient(#4180e7, #00258a);
}


.title {
    
    font-family: Marck Script, sans-serif;
    color: aliceblue;
    padding: 3.5%;
    font-size: 4.5em;
    font-weight: bold;
}

.instrument-btn {
    margin: 5px;
    border: 5px solid #ccc;
    border-radius: 10px;
    background-color: aliceblue;
    background-position: center;
    background-size: 125%;
    background-repeat: no-repeat;
    height: 75px;
    width: 75px;
}

.instrument-btn-clicked {
    border-color: #2e6cd1;
    box-shadow: 0 5px 6px 0 #cee0ff;
    opacity: 0.5;
}

#w {
    background-image: url("./images/tom1.png");
    background-position: -18px 20px;
}

#a {
    background-image: url("./images/tom3.png");
    background-position: -18px 20px;
    float: right;
}

#s {
    background-image: url("./images/tom2.png");
    background-position: 0px 20px;
}

#d {
    background-image: url("./images/tom4.png");
    background-position: 0px 20px;
    float: left;
}

#j {
    background-image: url("./images/snare.png");
    background-position: -16px 18px;
    float: right;
}

#k {
    background-image: url("./images/kick.png");
    background-position: 0px 12px;
}

#l {
    background-image: url("./images/crash.png");
    background-position: 0px 22px;
    float: left;
}

.keyboard-shortcuts-revealer {
    color: #eee;
    font-size: 1.5rem;
    font-weight: 400;
}

.keyboard-shortcuts {
    padding: 1% ;
    position: relative;
    left: 25%;
    max-width: 50%;
    border-radius: 15px;
    background-color: #4180e755;
}

.row .col#top-left, .row .col#top-right {
    margin-top: 4rem;
}

ul.left-list {
    text-align: right;
}

ul.right-list {
    text-align: left;
}

li {
    font-weight: 600;
    color: aliceblue;
    padding: 3px;
    list-style: none;
}

